:root {
  --fg: #373006;
  --bg: #ffffff;
  --border: #eaeaea;
  --shadow: rgba(0, 0, 0, 0.3);
  --svg: #efefef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: #bbb8af;
    --bg: #181818;
    --border: #101010;
    --shadow: rgba(0, 0, 0, 0.8);
    --svg: #2e2c1c;
  }
}

* {
  margin: 0;
  text-wrap: balance;
}

body {
  color: var(--fg);
  background: var(--bg);
  font-family: Nunito, serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-size: 16px;
  font-weight: 650;
}

.flex-spread {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-center {
  display: flex;
  align-items: center;
}

